@model IEnumerable<BookReservationSystem.Book>

@{
    ViewBag.Title = "Index";
    int id = 1;
}

<h2>Book</h2>

<p>
    @Html.ActionLink("Create New", "Create",null, htmlAttributes: new { @class = "btn btn-primary" })
</p>
<table id="myTable">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Book_ID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NumberInStock)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Genre_ID)
            </th>
            <th></th>
        </tr>
    </thead>

    @foreach (var item in Model)
    {
       <tbody>
           <tr class="js-row">
               <td>
                   @Html.DisplayFor(modelItem => id)
                   @{
                       id++;
                   }
               </td>
               <td>
                   @Html.DisplayFor(modelItem => item.Name)
               </td>
               <td>
                   @Html.DisplayFor(modelItem => item.NumberInStock)
               </td>
               <td>
                   @Html.DisplayFor(modelItem => item.Genre.Name)
               </td>
               <td>
                   @Html.ActionLink("Edit", "Edit", new { id = item.Book_ID }, htmlAttributes: new { @class = "btn btn-success" })
                   <button class="js-delete btn btn-danger" bookId-data="@item.Book_ID">Delete</button>
               </td>
           </tr>
       </tbody>
    }

</table>



@section Scripts {

    <script>
        $(document).ready(function () {
            $('#myTable').DataTable();
        });

        $('.js-row .js-delete').on('click', function () {
            let id = $(this);
            Swal.fire({
                title: 'Are you sure?',
                text: "You won't be able to revert this!",
                icon: 'warning',
                showCancelButton: true,
                confirmButtonColor: '#3085d6',
                cancelButtonColor: '#d33',
                confirmButtonText: 'Yes, delete it!'
            }).then((result) => {
                if (result.isConfirmed) {
                    $.ajax({
                        url: '/Book/Delete/' + id.attr('bookId-data'),
                        method: "post",
                        success: function () {

                            id.parents('.js-row').fadeOut()
                            Swal.fire(
                                'Deleted!',
                                'Deleted Successfully',
                                'success'
                            )

                        },

                        error: function () {
                            Swal.fire(
                                'Deleted Error!',
                                'Can not delete this item',
                                'error'
                            )
                        }
                    })

                }
            })

        });



    </script>
}